<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GestFrotPAP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <GestFrotPAP.My.MySettings>
            <setting name="SqlDBConPass" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlDistancia" serializeAs="String">
                <value>Km</value>
            </setting>
            <setting name="SqlVolume" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="SqlDBNome" serializeAs="String">
                <value>frotas</value>
            </setting>
            <setting name="SqlDBServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SqlDBUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="SqlMoeda" serializeAs="String">
                <value>Euro</value>
            </setting>
        </GestFrotPAP.My.MySettings>
    </userSettings>
</configuration>
